* { margin: 0; padding: 0; border: 0; }
input { background: #fff; border: 1px solid #ccc; padding: 6px;}
#teclado { width: 300px;}

#teclado #numbers { float: right; width: 80px; }
fieldset { margin: 3px;}

body{
	background-image: url("../images/dicas/deathStar.png");
	background-repeat: no-repeat;
	background-color: black;
	
}

h1, h2{
	color: #FFFFFF;
}

#entrada_1{
	opacity: 1.10;
	text-decoration: underline;
}

.titulo{
	text-align: center;
}

.forca{
	width: 20%;
	position: absolute;
	right: 35%;
}

#dica{
	width: 20%;
	position: absolute;
	right: 38%;
    bottom: 25%;
    color: #fff;
}

#tecladoForm{
	width: 20%;
	position: absolute;
	right: 38%;
	bottom: 2%;
	margin: auto;
}
#teclado fieldset{
	position: relative;
	width: 300px;
	right: 27%;
	height: 10px;
	bottom: 5%;
  text-align:center; margin:25px;

}

#jogarBtn{
    position: relative;
    left: 45%;
    top: 200px;
    width: 150px;
    height: 91px;
    background-image: url('../images/jogarBtn.png');
}
